body {
	font-family: sans-serif;
  margin: 0;
}

html {
    min-height: 100%;
    background: linear-gradient(to bottom, #00ffc3, #00ffa5);
    overflow: -moz-scrollbars-none;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}