img {
    width: 120px;
    height: 90px;
}

body {
	font-family: sans-serif;
}

html {
  /* subtlepatterns.com */
    background: url("http://neilcarpenter.com/demos/asfalt.png") repeat;
}

h3 {
    max-width: 40%;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}
