div.vidlist {
  width: -ms-calc(50% - 30px);
  width: -moz-calc(50% - 30px);
  width: -webkit-calc(50% - 30px);
  width: calc(50% - 30px);
  height: auto;
  position: relative;
  float: right;
}

ul {
	padding-left: 0px;
	margin-top: 0px;
    list-style: none;
    width: 95%;
    overflow-y: scroll;
    height:640px;
    overflow: -moz-scrollbars-none;
}

img.video-li {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
	width: 150px;
	height: auto;
	float: left;
}

p.video-li {
	text-align: right;
	margin-top: 13px;
	margin-bottom: 10px;
	font-size: 20px;
	font-family: 'Viga';
}

div.vid-title-li {
	width: 67%;
	float: right;
	margin-right: 20px;
}

h3.vid-list-title {
	z-index: -1;
	margin-bottom: 0px;
	margin-top: 20px;
	font-size: 35px;
	font-family: 'Barrio';
	overflow: auto;
	animation: 1s ease-in-out 0s 1 slideInFromLeft;
}

p.vid-list-no-results {
	margin: 20px;
	font-size: 55px;
	font-family: 'Barrio';
  	color: black;
}

.animated {
    margin: 10px;
    overflow: auto;
    animation: 1s ease-in-out 0s 1 slideInFromLeft;
}

li.animated {
	background: #444444;
	border-radius: 5px;
	border: 0.5px dotted white;
	color: white;
}

li.animated:hover {
	box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 1);
	cursor:pointer;
	color: #00ffa5 !important;
}

/* Media queries */

@media screen and (max-width: 764px) {

	div.vidlist {
	  width: -ms-calc(100% - 5px);
	  width: -moz-calc(100% - 5px);
	  width: -webkit-calc(100% - 5px);
	  width: calc(100% - 5px);
	  height: auto;
	  margin-left: auto;
	  margin-right: auto;
	}

	p.video-li {

		margin-top: 5px;
		font-size: 14px;
		font-family: 'Viga';
	}

  img.video-li {
    width: 45%;
  }

	div.vid-title-li {
		width: 50%;
		float: right;
		margin-right: 5px;
	}

	li.animated {

	}

	ul {
		width: 100%;
		margin: 0px;
	}
}

@media screen and (min-width: 765px) and (max-width: 1189px) {

	div.vidlist {
	  width: -ms-calc(50% - 5px);
	  width: -moz-calc(50% - 5px);
	  width: -webkit-calc(50% - 5px);
	  width: calc(50% - 5px);
	  height: auto;
	  margin-left: auto;
	  margin-right: auto;
	}

	p.video-li {
		margin-top: 5px;
		font-size: 18px;
		font-family: 'Viga';
	}

  img.video-li {
    width: 45%;
  }


	div.vid-title-li {
		width: 50%;
		float: right;
		margin-right: 10px;
	}

	li.animated {

	}

	ul {
		width: 100%;
		margin: 0px;
	}
}
