section.vidarea {
	  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  width: -ms-calc(50% - 16px);
  width: -moz-calc(50% - 16px);
  width: -webkit-calc(50% - 16px);
  width: calc(50% - 16px);
  margin: 8px;
  height: auto;
  position: relative;
  float: left;
}