p.fav-button {
  font-size: 28px;
  color: lightgrey;
  width: 9em;
  text-align: center;
  font-family: 'Barrio';
  padding-top: 0px;
  margin-top: 10px;
  margin-bottom:10px;
}

p.fav-button.active {
  color:white;
  text-shadow:3px 3px 0px black;
}

p.fav-button:hover {
	color: #00ffa5 !important;
  cursor:pointer;
}

.invisible-cb {
	display: none;
}

.player-option {
	font-family: 'Barrio';
	font-size: 28px;
  width: 9em;
  text-align: center;
	cursor:pointer;
  color:lightgrey;
  text-shadow:0px 0px 0px black;
  margin-top: 10px;
  margin-bottom:10px;
}

.player-option.active {
  color:white;
  text-shadow:3px 3px 0px black;
  cursor:pointer;
}

.settings-area {
	background: #444444;
	color: lightgrey;
}

.player-option:hover {
	color: #00ffa5 !important;
}

.player-option:active {
	text-shadow: 2px 1px 0px white !important;
}

.alert {
  position: fixed;
  width: auto;
  height: auto;
  padding: 5px;
  background: red;
  left: -300px;
  top: 50px;
  font-family: 'Viga';
  font-size: 20px;
  color: black;
  background: white; 
  border-radius: 5px;
  border: 0.5px dotted white;
  animation:
    alert
    3s 
    ease-in-out 
    0s 
    1
}

@keyframes alert {
  0% {
    left: -300px;
  }
  20% {
    left: 10px;
  }
  80%{
    left: 10px;
  }
  100% {
    left: -300px;
  }
}