div.vidlist {
  width: -ms-calc(50% - 30px);
  width: -moz-calc(50% - 30px);
  width: -webkit-calc(50% - 30px);
  width: calc(50% - 30px);
  height: auto;
  position: relative;
  float: right;
}

ul {
	margin-top: 8px;
    list-style: none;
    width: 95%;
    overflow-y: scroll;
    height:640px;
}

img.video-li {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
	width: 25%;
	float: left;
	min-width: 120px;
}

p.video-li {
	text-align: right;
	margin-top: 13px;
	margin-bottom: 10px;
	font-size: 20px;
	font-family: 'Contrail One';
	/*
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;*/
}

div.vid-name-li {
	width: 67%;
	float: right;
	margin-right: 20px;
}

.animated {
    margin: 10px;
    overflow: auto;
    animation: 1s ease-in-out 0s 1 slideInFromLeft;
}

li.animated {
	background: #444444;
	border-radius: 5px;
	border: 0.5px dotted white;
	color: white;
}

li.animated:hover {
	box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 1);
	cursor:pointer;
	color: #00ffa5 !important;
}
