section.vidarea {
	  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  width: -ms-calc(50% - 16px);
  width: -moz-calc(50% - 16px);
  width: -webkit-calc(50% - 16px);
  width: calc(50% - 16px);
  margin: 8px;
  height: auto;
  position: relative;
  float: left;
}


.video-player-area {
	position: relative;
	height: 360px	;
	width: 640px;
}

.player-err-pane {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	margin: 0;
	height: 340px;
	width: 620px;
	background-image: url("../img/error_pane_background.png");
	background-size: contain;
	color: white;
}


.no-video-img {
	top: 0;
	right: 0;
	height: 360px;
	width: 640px;
}
