section.vidArea {
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  width: -ms-calc(50% - 16px);
  width: -moz-calc(50% - 16px);
  width: -webkit-calc(50% - 16px);
  width: calc(50% - 16px);
  margin: 8px;
  height: auto;
  position: relative;
  float: left;
	color: white;
}

.video-player-area {
	position: relative;
	height: auto;
	width: 100%;
	margin-bottom: 10px;
}

.video-player-viewer {
	border-radius: 5px;
}

.player-err-pane {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	margin: 0;
	height: calc(100% - 20px);
	width: calc(100% - 20px);
	background-image: url("../img/error_pane_background.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.settings-area {
	display: flex;
	justify-content: center;
	height: auto;
	margin: 10px 0 0;
	padding: 10px;
	border-radius: 5px;
	border: 0.5px dotted white;
}

.video-footer {
	padding: 10px 25px;
	border: 0.5px dotted white;
	border-radius: 5px;
}

article h3 {
	max-width: 100%;
}

.settings-area input,
.settings-area label {
	margin: 0 20px;
}

.no-video-img {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	border-radius: 5px;
}

.iframe-wrapper {
	position: relative;
	height: 360px;
	width: 100%;
}

.visible {
	display: block;
}

.not-visible {
	display: none;
}
