div.vidlist {
	  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  width: -ms-calc(45% - 46px);
  width: -moz-calc(45% - 46px);
  width: -webkit-calc(45% - 46px);
  width: calc(45% - 46px);
  margin: 8px;
	margin-right: 30px;
  height: auto;
  position: relative;
  float: right;
}
